*.swp
.idea/
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
cmake-build-debug
/lib/Arduino/
/lib/Adafruit_MCP9808_Library-master/
/lib/ArduinoJson/
data/
lib/Time-master.zip
/pio/.idea/
/pio/lib/readme.txt
/Arduino/*
/pio/lib/ArduinoJson/
/pio/lib/json/
build/*
test/build
pio/.vscode/settings.json
.vscode/settings.json
test/CMakeFiles/*
.vscode/c_cpp_properties.json
test/gtest_main.pc
test/gtest.pc
test/gmock_main.pc
test/gmock.pc
error-cmake.txt
error-multi.txt
error-single.txt
pio/paket.dependencies
pio/paket.lock
pio/packages
pio/packet.exe
launch.json
settings.json
app.conig
packet.references
pio/.vscode
.vscode
pio/.paket/Paket.Restore.targets
pio/.paket/paket.targets
pio/.paket/paket.exe
pio/build.sh
pio/build.fsx
pio/build.cmd
fs/hacker-hud/obj/fsac.cache
fs/hacker-hud/paket.references
fs/hacker-hud/hacker-hud.fsproj
fs/hacker-hud/App.config
.gitignore_BACKUP_500
.gitignore_BASE_500
.gitignore_LOCAL_500
.gitignore_REMOTE_500
.gitignore.orig
